<% @blog_posts.each do |blog_post| %>
<div>
  <p><%= link_to blog_post.title, blog_post_path(blog_post) %></p>
  <p><% blog_post.author %></p>
</div>
<% end %>
<div>
  <h3><%= link_to 'New Blog Post', new_blog_post_path(@blog_post) %></h3>
</div>
